/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}

body{
    color: black;
    width: 100%;
    max-width: 120rem;
}

.momAbout{
    display: flex;
    width: 97%;
    margin: auto;
}

.mb{
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: .8em;
}

.mb.slash{
    margin-left: .5rem;
    margin-right: .5rem;
}

.mb.about{
    text-decoration: none;
    color: black;
}

.mb.slash{
    color: #808080;
}

.grid-container{
    display: grid;
    height: 100vh;
    width: 97%;
    margin: auto;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    gap: 1.5rem;
}

.img{
    width: 100%;
    object-fit: cover;
}

.img-cont{
    padding: 1rem;
    text-align: center;
    border: 0.0625rem solid #F6F6F6;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.grid-container span{
    font-size: .7em;
    color: #9A9A9A;
    margin-top: 1rem;
}

.img-cont:hover{
    border: 0.0625rem solid #A0A0A0;
    background-color: #E5E5E5;
    transition: .5s;
}

.close-img-popup{
    position: fixed;
    height: 100%;
    width: 100%;
    margin: auto;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-150%);

}

.popup{
    transform: translateX(0);
}

.img-show{
    height: 80%;
    display: block;
    object-fit: cover;
}

.copy{
    position: fixed;
    color: black;
    top: 1rem;
}

.close-img-popup button, .close-img-popup span{
    color: #808080;
    position: absolute;
    cursor: pointer;
    font-size: 1em;
}

.close-img-popup span:hover, .close-img-popup button:hover{
    color: black;
}

.close-img-popup button{
    background-color: transparent;
    border: none;
}

.close{
    bottom: 1rem;
}

.next{
    right: 10%;
}

.previous{
    left: 10%;
}